<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="gsrobot_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.068329 -0.0001044 0.072859"
        rpy="0 0 0" />
      <mass
        value="92.357" />
      <inertia
        ixx="1.8837"
        ixy="-8.573E-05"
        ixz="0.10979"
        iyy="4.2452"
        iyz="0.0074515"
        izz="5.6691" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>

  </link>
  <link
    name="wheel_drive_left_link">
    <inertial>
      <origin
        xyz="-4.93E-06 -0.050952 0"
        rpy="0 0 0" />
      <mass
        value="1.2298" />
      <inertia
        ixx="0.0043003"
        ixy="-4.1E-07"
        ixz="0"
        iyy="0.0074383"
        iyz="0"
        izz="0.0043004" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/wheel_drive_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>

    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5708 0 0" />
      <geometry>
        <cylinder
          radius="0.10"
          length="0.069" />
      </geometry>
    </collision>

  </link>
  <joint
    name="wheel_drive_left_joint"
    type="continuous">
    <origin
      xyz="-0.225 0.2917 0.1"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_drive_left_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="wheel_drive_right_link">
    <inertial>
      <origin
        xyz="4.93E-06 0.050952 0"
        rpy="0 0 0" />
      <mass
        value="1.2298" />
      <inertia
        ixx="0.0043003"
        ixy="-4.1E-07"
        ixz="0"
        iyy="0.0074383"
        iyz="0"
        izz="0.0043004" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/wheel_drive_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>

    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5708 0 0" />
      <geometry>
        <cylinder
          radius="0.10"
          length="0.069" />
      </geometry>
    </collision>

  </link>
  <joint
    name="wheel_drive_right_joint"
    type="continuous">
    <origin
      xyz="-0.225 -0.2917 0.1"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_drive_right_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="wheel_driven_left_link">
    <inertial>
      <origin
        xyz="0 0 3.26E-06"
        rpy="0 0 0" />
      <mass
        value="0.51" />
      <inertia
        ixx="0.00081431"
        ixy="0"
        ixz="0"
        iyy="0.001449"
        iyz="0"
        izz="0.00081424" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/wheel_driven_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>

    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5708 0 0" />
      <geometry>
        <cylinder
          radius="0.075"
          length="0.05" />
      </geometry>
    </collision>

  </link>
  <joint
    name="wheel_driven_left_joint"
    type="continuous">
    <origin
      xyz="0.266 0.2565 0.075"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_driven_left_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="wheel_driven_right_link">
    <inertial>
      <origin
        xyz="0 0 3.26E-06"
        rpy="0 0 0" />
      <mass
        value="0.51" />
      <inertia
        ixx="0.00081431"
        ixy="0"
        ixz="0"
        iyy="0.001449"
        iyz="0"
        izz="0.00081424" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/wheel_driven_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>

    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5708 0 0" />
      <geometry>
        <cylinder
          radius="0.075"
          length="0.05" />
      </geometry>
    </collision>

  </link>
  <joint
    name="wheel_driven_right_joint"
    type="continuous">
    <origin
      xyz="0.266 -0.2565 0.075"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_driven_right_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="leg_low_link">
    <inertial>
      <origin
        xyz="-0.216883493233232 0.00795825336852886 0.0581166264620049"
        rpy="0 0 0" />
      <mass
        value="16.5305117961297" />
      <inertia
        ixx="0.0456927805655381"
        ixy="2.89967041672681E-05"
        ixz="0.0290957358489561"
        iyy="0.16998164510068"
        iyz="-3.66957769966455E-07"
        izz="0.145870769345791" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/leg_low_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>

    <collision>
      <origin
        xyz="-0.20 0 0.05"
        rpy="0 -1.1694 0" />
      <geometry>
        <cylinder
          radius="0.08"
          length="0.30" />
      </geometry>
    </collision>

  </link>
  <joint
    name="leg_low_joint"
    type="revolute">
    <origin
      xyz="0.188 0 0.129"
      rpy="0 1.1429 0" />
    <parent
      link="base_link" />
    <child
      link="leg_low_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="1.1429"
      effort="169"
      velocity="4.6" />
  </joint>
  <link
    name="leg_up_link">
    <inertial>
      <origin
        xyz="0.185202350824797 -0.005827014951456 0.0144454009427329"
        rpy="0 0 0" />
      <mass
        value="5.79713516409942" />
      <inertia
        ixx="0.00794845599673142"
        ixy="-1.20502205408508E-05"
        ixz="-0.011674300484542"
        iyy="0.0853096175728224"
        iyz="1.0032773872274E-05"
        izz="0.0774558183904204" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/leg_up_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>

    <collision>
      <origin
        xyz="0.2 0 0.02"
        rpy="0 1.3439 0" />
      <geometry>
        <cylinder
          radius="0.08"
          length="0.25" />
      </geometry>
    </collision>

  </link>
  <joint
    name="leg_up_joint"
    type="revolute">
    <origin
      xyz="-0.40034 0 0.1705"
      rpy="0 -2.4871 0" />
    <parent
      link="leg_low_link" />
    <child
      link="leg_up_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="2.4871"
      effort="169"
      velocity="4.6" />
  </joint>
  <link
    name="waist_low_link">
    <inertial>
      <origin
        xyz="0.00355965767558206 0.0140912227494941 0.000333802506439662"
        rpy="0 0 0" />
      <mass
        value="3.37968481795654" />
      <inertia
        ixx="0.0124660482998311"
        ixy="-2.22760449513195E-07"
        ixz="-2.32084403610267E-05"
        iyy="0.0140474872539088"
        iyz="-1.62324847099825E-06"
        izz="0.0192945862156376" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/waist_low_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>

  </link>
  <joint
    name="waist_low_joint"
    type="revolute">
    <origin
      xyz="0.36788 0 0.07353"
      rpy="0 1.344 0" />
    <parent
      link="leg_up_link" />
    <child
      link="waist_low_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.5707"
      upper="1.344"
      effort="169"
      velocity="4.6" />
  </joint>
  <link
    name="waist_up_link">
    <inertial>
      <origin
        xyz="-0.03388766 -3.718E-05 0.0805006"
        rpy="0 0 0" />
      <mass
        value="2.97914359" />
      <inertia
        ixx="0.0186542"
        ixy="7.99E-06"
        ixz="-0.00823935"
        iyy="0.02990896"
        iyz="1.206E-05"
        izz="0.01447263" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/waist_up_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>

  </link>
  <joint
    name="waist_up_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="waist_low_link" />
    <child
      link="waist_up_link" />
    <axis
      xyz="1 0 -0.00029476" />
    <limit
      lower="-0.17453"
      upper="0.17453"
      effort="169"
      velocity="4.6" />
  </joint>
  <link
    name="chest_link">
    <inertial>
      <origin
        xyz="-0.00067665 0.00073282 0.1860538"
        rpy="0 0 0" />
      <mass
        value="12.51428847" />
      <inertia
        ixx="0.15596357"
        ixy="-5.673E-05"
        ixz="0.00093242"
        iyy="0.10420102"
        iyz="0.0010599"
        izz="0.08110605" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/chest_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>

    <collision>
      <origin
        xyz="0 0 0.035"
        rpy="0 0 0" />
      <geometry>
        <cylinder
          radius="0.08"
          length="0.28" />
      </geometry>
    </collision>
  </link>
  <joint
    name="chest_joint"
    type="revolute">
    <origin
      xyz="6.0573E-05 0 0.2055"
      rpy="0 0 0" />
    <parent
      link="waist_up_link" />
    <child
      link="chest_link" />
    <axis
      xyz="0.00029476 0 1" />
    <limit
      lower="-2.618"
      upper="2.618"
      effort="169"
      velocity="4.6" />
  </joint>
  <!-- 头部相机 -->
  <link
    name="camera_head_link">
    <inertial>
      <origin
        xyz="-0.071684 -2.675E-05 -0.057635"
        rpy="0 0 0" />
      <mass
        value="0.54512" />
      <inertia
        ixx="0.0030918"
        ixy="-2.02E-06"
        ixz="-0.00012518"
        iyy="0.0035052"
        iyz="-3.75E-06"
        izz="0.0012614" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/camera_head_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>

    <collision>
      <origin
        xyz="-0.05 0 0"
        rpy="0 0 0" />
      <geometry>
        <sphere
          radius="0.10" />
      </geometry>
    </collision>

  </link>
  <joint
    name="camera_head_joint"
    type="fixed">
    <origin
      xyz="0.078342 0.00014174 0.45535"
      rpy="0 0 0" />
    <parent
      link="chest_link" />
    <child
      link="camera_head_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="arm1_left_link">
    <inertial>
      <origin
        xyz="-0.0084306 0.07665641 -0.00912431"
        rpy="0 0 0" />
      <mass
        value="2.10687277" />
      <inertia
        ixx="0.00415914"
        ixy="4.654E-05"
        ixz="-4.3E-07"
        iyy="0.00311439"
        iyz="0.00028392"
        izz="0.00417595" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/arm1_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>

    <collision>
      <origin
        xyz="0 0.03 0"
        rpy="0 0 0" />
      <geometry>
        <sphere
          radius="0.05" />
      </geometry>
    </collision>

  </link>
  <joint
    name="arm1_left_joint"
    type="revolute">
    <origin
      xyz="6.2489E-05 0.1198 0.212"
      rpy="0 0 0" />
    <parent
      link="chest_link" />
    <child
      link="arm1_left_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="169"
      velocity="4.6" />
  </joint>
  <link
    name="arm2_left_link">
    <inertial>
      <origin
        xyz="-0.00279311 0 -0.08976527"
        rpy="0 0 0" />
      <mass
        value="1.12998896" />
      <inertia
        ixx="0.00307578"
        ixy="0"
        ixz="0.00023146"
        iyy="0.00294323"
        iyz="0"
        izz="0.00101905" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/arm2_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>

  </link>
  <joint
    name="arm2_left_joint"
    type="revolute">
    <origin
      xyz="0 0.088 -0.012"
      rpy="0 0 0" />
    <parent
      link="arm1_left_link" />
    <child
      link="arm2_left_link" />
    <axis
      xyz="1 0 -0.00029476" />
    <limit
      lower="0"
      upper="1.5708"
      effort="169"
      velocity="4.6" />
  </joint>
  <link
    name="arm3_left_link">
    <inertial>
      <origin
        xyz="-0.00087518 0.00579601 -0.14283169"
        rpy="0 0 0" />
      <mass
        value="1.3170296" />
      <inertia
        ixx="0.00374889"
        ixy="3.06E-06"
        ixz="5.712E-05"
        iyy="0.00384475"
        iyz="2.507E-05"
        izz="0.00112868" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/arm3_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>

    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder
          radius="0.03"
          length="0.15" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm3_left_joint"
    type="revolute">
    <origin
      xyz="-4.0824E-05 0 -0.1385"
      rpy="0 0 0" />
    <parent
      link="arm2_left_link" />
    <child
      link="arm3_left_link" />
    <axis
      xyz="0.00029476 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="169"
      velocity="4.6" />
  </joint>
  <link
    name="arm4_left_link">
    <inertial>
      <origin
        xyz="0.07380172 0.00609791 -0.00796592"
        rpy="0 0 0" />
      <mass
        value="0.80721186" />
      <inertia
        ixx="0.00075615"
        ixy="0.0003063"
        ixz="0.00011085"
        iyy="0.00179371"
        iyz="-3.865E-05"
        izz="0.0019266" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/arm4_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>

    <collision>
      <origin
        xyz="0.1 0 0"
        rpy="0 1.5708 0" />
      <geometry>
        <cylinder
          radius="0.03"
          length="0.15" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm4_left_joint"
    type="revolute">
    <origin
      xyz="-4.7604E-05 0 -0.1615"
      rpy="0 0 0" />
    <parent
      link="arm3_left_link" />
    <child
      link="arm4_left_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.5708"
      upper="0.7854"
      effort="169"
      velocity="4.6" />
  </joint>
  <link
    name="wrist1_left_link">
    <inertial>
      <origin
        xyz="0.02531393 0.02065991 0"
        rpy="0 0 0" />
      <mass
        value="0.12777609" />
      <inertia
        ixx="0.00010061"
        ixy="-2.964E-05"
        ixz="0"
        iyy="0.00010906"
        iyz="0"
        izz="0.00012115" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/wrist1_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.1098 0.1098 0.1098 1" />
      </material>
    </visual>

  </link>
  <joint
    name="wrist1_left_joint"
    type="revolute">
    <origin
      xyz="0.1215 0 -0.010036"
      rpy="0 0 0" />
    <parent
      link="arm4_left_link" />
    <child
      link="wrist1_left_link" />
    <axis
      xyz="1 0 -0.00029476" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="169"
      velocity="4.6" />
  </joint>
  <link
    name="wrist2_left_link">
    <inertial>
      <origin
        xyz="0.0315 -0.0359209 0.0009291"
        rpy="0 0 0" />
      <mass
        value="1.10448645" />
      <inertia
        ixx="0.00064649"
        ixy="2.997E-05"
        ixz="-2.997E-05"
        iyy="0.00168337"
        iyz="9.5E-07"
        izz="0.00168337" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/wrist2_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>

  </link>
  <joint
    name="wrist2_left_joint"
    type="revolute">
    <origin
      xyz="0.0534 0.037 -1.574E-05"
      rpy="0 0 0" />
    <parent
      link="wrist1_left_link" />
    <child
      link="wrist2_left_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="169"
      velocity="4.6" />
  </joint>
  <link
    name="wrist3_left_link">
    <inertial>
      <origin
        xyz="0.0231709 0 -0.01675667"
        rpy="0 0 0" />
      <mass
        value="0.09322241" />
      <inertia
        ixx="5.467E-05"
        ixy="0"
        ixz="2.006E-05"
        iyy="8.106E-05"
        iyz="0"
        izz="7.186E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/wrist3_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.866666666666667 0.890196078431372 1" />
      </material>
    </visual>

  </link>
  <joint
    name="wrist3_left_joint"
    type="revolute">
    <origin
      xyz="0.063012 -0.03685 0.039831"
      rpy="0 0 0" />
    <parent
      link="wrist2_left_link" />
    <child
      link="wrist3_left_link" />
    <axis
      xyz="0.00029476 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="169"
      velocity="4.6" />
  </joint>
  <!-- 灵巧手左边相机 -->
  <link
    name="camera_wrist_left_link">
    <inertial>
      <origin
        xyz="-0.00425177 0.0006653 -0.00546166"
        rpy="0 0 0" />
      <mass
        value="0.05993076" />
      <inertia
        ixx="5.909E-05"
        ixy="2.6E-07"
        ixz="-1.275E-05"
        iyy="4.78E-05"
        iyz="4E-07"
        izz="3.184E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/camera_wrist_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>

  </link>
  <joint
    name="camera_wrist_left_joint"
    type="fixed">
    <origin
      xyz="0.020515 -0.001 0.051994"
      rpy="0 0 0" />
    <parent
      link="wrist3_left_link" />
    <child
      link="camera_wrist_left_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="handboard_left">
    <inertial>
      <origin
        xyz="-0.014063 -0.0000 -0.020059"
        rpy="0 0 0" />
      <mass
        value="0.205" />
      <inertia
        ixx="5.22525212160954E-05"
        ixy="3.06955729584715E-07"
        ixz="-3.90341166950521E-07"
        iyy="3.33522349207724E-05"
        iyz="-7.76680063574627E-07"
        izz="2.28469461105385E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/handboard_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>

    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/handboard_left.STL" />
      </geometry>
    </collision>

  </link>
  <joint
    name="handboard_left_joint"
    type="fixed">
    <origin
      xyz="0.1185 -0.0675 -0.04"
      rpy="0 0 0" />
    <parent
      link="wrist3_left_link" />
    <child
      link="handboard_left" />
    <axis
      xyz="-1 0 0" />
  </joint>
  
  <link
    name="arm1_right_link">
    <inertial>
      <origin
        xyz="-0.0084306 -0.07665646 -0.00912431"
        rpy="0 0 0" />
      <mass
        value="2.10687285" />
      <inertia
        ixx="0.00415915"
        ixy="-4.654E-05"
        ixz="-4.3E-07"
        iyy="0.00311439"
        iyz="-0.00028393"
        izz="0.00417595" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/arm1_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>

    <collision>
      <origin
        xyz="0 -0.03 0"
        rpy="0 0 0" />
      <geometry>
        <sphere
          radius="0.05" />
      </geometry>
    </collision>

  </link>
  <joint
    name="arm1_right_joint"
    type="revolute">
    <origin
      xyz="6.2489E-05 -0.1198 0.212"
      rpy="0 0 0" />
    <parent
      link="chest_link" />
    <child
      link="arm1_right_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="169"
      velocity="4.6" />
  </joint>
  <link
    name="arm2_right_link">
    <inertial>
      <origin
        xyz="-0.00279311 0 -0.08976527"
        rpy="0 0 0" />
      <mass
        value="1.12998896" />
      <inertia
        ixx="0.00307578"
        ixy="0"
        ixz="0.00023146"
        iyy="0.00294323"
        iyz="0"
        izz="0.00101905" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/arm2_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>

  </link>
  <joint
    name="arm2_right_joint"
    type="revolute">
    <origin
      xyz="0 -0.088 -0.012"
      rpy="0 0 0" />
    <parent
      link="arm1_right_link" />
    <child
      link="arm2_right_link" />
    <axis
      xyz="1 0 -0.00029476" />
    <limit
      lower="-1.5708"
      upper="0"
      effort="169"
      velocity="4.6" />
  </joint>
  <link
    name="arm3_right_link">
    <inertial>
      <origin
        xyz="-0.00087518 -0.005796 -0.14283168"
        rpy="0 0 0" />
      <mass
        value="1.31702964" />
      <inertia
        ixx="0.00374889"
        ixy="-3.06E-06"
        ixz="5.712E-05"
        iyy="0.00384475"
        iyz="-2.507E-05"
        izz="0.00112868" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/arm3_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>

    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder
          radius="0.03"
          length="0.15" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm3_right_joint"
    type="revolute">
    <origin
      xyz="-4.0824E-05 0 -0.1385"
      rpy="0 0 0" />
    <parent
      link="arm2_right_link" />
    <child
      link="arm3_right_link" />
    <axis
      xyz="0.00029476 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="169"
      velocity="4.6" />
  </joint>
  <link
    name="arm4_right_link">
    <inertial>
      <origin
        xyz="0.07380172 -0.00609791 -0.00796592"
        rpy="0 0 0" />
      <mass
        value="0.80721187" />
      <inertia
        ixx="0.00075615"
        ixy="-0.00030629"
        ixz="0.00011085"
        iyy="0.00179371"
        iyz="3.865E-05"
        izz="0.0019266" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/arm4_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>

    <collision>
      <origin
        xyz="0.1 0 0"
        rpy="0 1.5708 0" />
      <geometry>
        <cylinder
          radius="0.03"
          length="0.15" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm4_right_joint"
    type="revolute">
    <origin
      xyz="-4.7604E-05 0 -0.1615"
      rpy="0 0 0" />
    <parent
      link="arm3_right_link" />
    <child
      link="arm4_right_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.7854"
      upper="1.5708"
      effort="169"
      velocity="4.6" />
  </joint>
  <link
    name="wrist1_right_link">
    <inertial>
      <origin
        xyz="0.02531393 -0.02065991 0"
        rpy="0 0 0" />
      <mass
        value="0.12777609" />
      <inertia
        ixx="0.00010061"
        ixy="2.964E-05"
        ixz="0"
        iyy="0.00010906"
        iyz="0"
        izz="0.00012115" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/wrist1_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.109803921568627 0.109803921568627 0.109803921568627 1" />
      </material>
    </visual>

  </link>
  <joint
    name="wrist1_right_joint"
    type="revolute">
    <origin
      xyz="0.1215 0 -0.010036"
      rpy="0 0 0" />
    <parent
      link="arm4_right_link" />
    <child
      link="wrist1_right_link" />
    <axis
      xyz="1 0 -0.00029476" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="169"
      velocity="4.6" />
  </joint>
  <link
    name="wrist2_right_link">
    <inertial>
      <origin
        xyz="0.0315 0.0359209 0.0009291"
        rpy="0 0 0" />
      <mass
        value="1.10448646" />
      <inertia
        ixx="0.00064649"
        ixy="-2.997E-05"
        ixz="-2.997E-05"
        iyy="0.00168337"
        iyz="-9.5E-07"
        izz="0.00168337" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/wrist2_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>

  </link>
  <joint
    name="wrist2_right_joint"
    type="revolute">
    <origin
      xyz="0.0534 -0.037 -1.574E-05"
      rpy="0 0 0" />
    <parent
      link="wrist1_right_link" />
    <child
      link="wrist2_right_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="169"
      velocity="4.6" />
  </joint>
  <link
    name="wrist3_right_link">
    <inertial>
      <origin
        xyz="0.0231709 0 -0.01675667"
        rpy="0 0 0" />
      <mass
        value="0.09322241" />
      <inertia
        ixx="5.467E-05"
        ixy="0"
        ixz="2.006E-05"
        iyy="8.106E-05"
        iyz="0"
        izz="7.186E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/wrist3_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.866666666666667 0.890196078431372 1" />
      </material>
    </visual>

  </link>
  <joint
    name="wrist3_right_joint"
    type="revolute">
    <origin
      xyz="0.063012 0.03685 0.039831"
      rpy="0 0 0" />
    <parent
      link="wrist2_right_link" />
    <child
      link="wrist3_right_link" />
    <axis
      xyz="0.00029476 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="169"
      velocity="4.6" />
  </joint>
  <!-- 灵巧手右边相机 -->
  <link
    name="camera_wrist_right_link">
    <inertial>
      <origin
        xyz="-0.00425177 0.0006653 -0.00546166"
        rpy="0 0 0" />
      <mass
        value="0.05993076" />
      <inertia
        ixx="5.909E-05"
        ixy="2.6E-07"
        ixz="-1.275E-05"
        iyy="4.78E-05"
        iyz="4E-07"
        izz="3.184E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/camera_wrist_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>

  </link>
  <joint
    name="camera_wrist_right_joint"
    type="fixed">
    <origin
      xyz="0.020515 -0.001 0.051994"
      rpy="0 0 0" />
    <parent
      link="wrist3_right_link" />
    <child
      link="camera_wrist_right_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="handboard_right">
    <inertial>
      <origin
        xyz="-0.00160320773490556 0.000358462699237561 0.0538002704027215"
        rpy="0 0 0" />
      <mass
        value="0.205" />
      <inertia
        ixx="5.22359941041901E-05"
        ixy="3.0391535852764E-07"
        ixz="3.88322215371643E-07"
        iyy="3.33473043513648E-05"
        iyz="-7.77555280794861E-07"
        izz="2.28342677422006E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/handboard_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.6 0 1" />
      </material>
    </visual>

    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ocs2_robotic_assets/resources/gensong_board/meshes/handboard_right.STL" />
      </geometry>
    </collision>

  </link>
  <joint
    name="handboard_joint_right"
    type="fixed">
    <origin
      xyz="0.1185 0.0675 -0.04"
      rpy="0 0 0" />
    <parent
      link="wrist3_right_link" />
    <child
      link="handboard_right" />
    <axis
      xyz="-1 0 0" />
  </joint>


  <!-- ros2_control hardware interface -->
  <ros2_control name="MySystem" type="system">
    <hardware>
      <!-- <plugin>gsrobot/ExampleSimulation</plugin> -->
      <plugin>gsrobot/ExampleHardware</plugin>
      <!-- <param name="linkerHand_can_interface">can0,can1</param> -->
      <param name="linkerHand_para">100,200</param>
      <param name="linkerHand_joints">left_linkerHand,right_linkerHand</param>
      <param name="linkerHand_posScope">1.36,0.58,1.60,1.60,1.60,1.60</param>
    </hardware>
    
    <!-- Left arm joints -->
    <joint name="arm1_left_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="kp"/>
      <command_interface name="kd"/>
      <command_interface name="ff"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="torque"/>
    </joint>
    <joint name="arm2_left_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="kp"/>
      <command_interface name="kd"/>
      <command_interface name="ff"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="torque"/>
    </joint>
    <joint name="arm3_left_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="kp"/>
      <command_interface name="kd"/>
      <command_interface name="ff"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="torque"/>
    </joint>
    <joint name="arm4_left_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="kp"/>
      <command_interface name="kd"/>
      <command_interface name="ff"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="torque"/>
    </joint>
    <joint name="wrist1_left_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="kp"/>
      <command_interface name="kd"/>
      <command_interface name="ff"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="torque"/>
    </joint>
    <joint name="wrist2_left_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="kp"/>
      <command_interface name="kd"/>
      <command_interface name="ff"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="torque"/>
    </joint>
    <joint name="wrist3_left_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="kp"/>
      <command_interface name="kd"/>
      <command_interface name="ff"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="torque"/>
    </joint>
      <joint name="thumb_cmc_yaw">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="kp"/>
        <command_interface name="kd"/>
        <command_interface name="ff"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="torque"/>
      </joint>
      <joint name="thumb_cmc_pitch">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="kp"/>
        <command_interface name="kd"/>
        <command_interface name="ff"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="torque"/>
      </joint>
      <joint name="index_mcp_pitch">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="kp"/>
        <command_interface name="kd"/>
        <command_interface name="ff"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="torque"/>
      </joint>
      <joint name="middle_mcp_pitch">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="kp"/>
        <command_interface name="kd"/>
        <command_interface name="ff"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="torque"/>
      </joint>
      <joint name="ring_mcp_pitch">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="kp"/>
        <command_interface name="kd"/>
        <command_interface name="ff"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="torque"/>
      </joint>
      <joint name="pinky_mcp_pitch">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="kp"/>
        <command_interface name="kd"/>
        <command_interface name="ff"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="torque"/>
      </joint>

    <!-- Right arm joints -->
    <joint name="arm1_right_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="kp"/>
      <command_interface name="kd"/>
      <command_interface name="ff"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="torque"/>
    </joint>
    <joint name="arm2_right_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="kp"/>
      <command_interface name="kd"/>
      <command_interface name="ff"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="torque"/>
    </joint>
    <joint name="arm3_right_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="kp"/>
      <command_interface name="kd"/>
      <command_interface name="ff"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="torque"/>
    </joint>
    <joint name="arm4_right_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="kp"/>
      <command_interface name="kd"/>
      <command_interface name="ff"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="torque"/>
    </joint>
    <joint name="wrist1_right_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="kp"/>
      <command_interface name="kd"/>
      <command_interface name="ff"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="torque"/>
    </joint>
    <joint name="wrist2_right_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="kp"/>
      <command_interface name="kd"/>
      <command_interface name="ff"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="torque"/>
    </joint>
    <joint name="wrist3_right_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="kp"/>
      <command_interface name="kd"/>
      <command_interface name="ff"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="torque"/>
    </joint>
      <joint name="thumb_cmc_yaw_right">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="kp"/>
        <command_interface name="kd"/>
        <command_interface name="ff"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="torque"/>
      </joint>
      <joint name="thumb_cmc_pitch_right">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="kp"/>
        <command_interface name="kd"/>
        <command_interface name="ff"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="torque"/>
      </joint>
      <joint name="index_mcp_pitch_right">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="kp"/>
        <command_interface name="kd"/>
        <command_interface name="ff"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="torque"/>
      </joint>
      <joint name="middle_mcp_pitch_right">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="kp"/>
        <command_interface name="kd"/>
        <command_interface name="ff"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="torque"/>
      </joint>
      <joint name="ring_mcp_pitch_right">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="kp"/>
        <command_interface name="kd"/>
        <command_interface name="ff"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="torque"/>
      </joint>
      <joint name="pinky_mcp_pitch_right">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="kp"/>
        <command_interface name="kd"/>
        <command_interface name="ff"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="torque"/>
      </joint>

    <!-- Torso joints -->
    <joint name="chest_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="kp"/>
      <command_interface name="kd"/>
      <command_interface name="ff"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="torque"/>
    </joint>
    <joint name="waist_low_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="kp"/>
      <command_interface name="kd"/>
      <command_interface name="ff"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="torque"/>
    </joint>
    <joint name="waist_up_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="kp"/>
      <command_interface name="kd"/>
      <command_interface name="ff"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="torque"/>
    </joint>

    <!-- Leg joints -->
    <joint name="leg_low_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="kp"/>
      <command_interface name="kd"/>
      <command_interface name="ff"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="torque"/>
    </joint>
    <joint name="leg_up_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="kp"/>
      <command_interface name="kd"/>
      <command_interface name="ff"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="torque"/>
    </joint>

    <!-- Wheel joints -->
    <joint name="wheel_drive_left_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="kp"/>
      <command_interface name="kd"/>
      <command_interface name="ff"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="torque"/>
    </joint>
    <joint name="wheel_drive_right_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="kp"/>
      <command_interface name="kd"/>
      <command_interface name="ff"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="torque"/>
    </joint>

    <!-- IMU Sensor -->
    <sensor name="imu">
      <parent_link>base_link</parent_link>
      <frame_id>imu_link</frame_id>
      <state_interface name="orientation.x"/>
      <state_interface name="orientation.y"/>
      <state_interface name="orientation.z"/>
      <state_interface name="orientation.w"/>
      <state_interface name="angular_velocity.x"/>
      <state_interface name="angular_velocity.y"/>
      <state_interface name="angular_velocity.z"/>
      <state_interface name="linear_acceleration.x"/>
      <state_interface name="linear_acceleration.y"/>
      <state_interface name="linear_acceleration.z"/>
    </sensor>
  </ros2_control>
</robot>
